main {
	display: flex;
	padding: 1.5rem;
	flex-direction: column;
	align-items: center;
}

#contact {
	line-height: 1.6;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-width: 19rem;
	max-width: 45rem;
	gap: 3rem;
	margin: 0 0 2rem 0;
}

.contact-card {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	padding: 1.5rem;
	background-color: var(--cards-light-gray);
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	flex-grow: 1;
	transition: border-color ease-in-out 0.3s;
	cursor: pointer;
}

.contact-card:hover {
	border: 1px solid var(--accent-bright-teal);
	box-shadow: 0.08rem 0.02rem 0.9rem var(--accent-light-teal);
}

.contact-header h1 {
	font-family: "playfair display";
	word-spacing: 0.25rem;
	letter-spacing: 0.15rem;
	font-size: 2.8rem;
}

.contact-header p {
	font-weight: 200;
	opacity: 0.5;
	font-size: 1.2rem;
}

.contact-card h3 {
	font-size: 1.4rem;
	font-family: "playfair display";
	transition: color ease-in-out 0.15s;
	color: var(--primary-light-gray-text);
}

.contact-card:hover h3 {
	color: var(--accent-bright-teal);
}

.contact-card p {
	font-size: 1.1rem;
	font-family: "montserrat";
	color: var(--secondary-soft-gray-text);
	font-weight: 500;
}

.contact-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-card img {
	width: 3rem;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
