main {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
}

#backBtn {
	display: flex;
	align-self: flex-start;
	background: transparent;
	cursor: pointer;
	padding: 0 0 2rem 0;
}
#backBtn img {
	width: 2.5rem;
}

#storyContainer {
	display: flex;
	flex-direction: column;
	min-width: 19rem;
	/* this will prolly cause issues */
	max-width: 90%;
	gap: 0.8rem;
}

#title {
	font-family: "playfair display";
}

#subtitle {
	color: var(--secondary-soft-gray-text);
	font-size: clamp(1.1rem, 1.2vw, 1.2rem);
}
.author {
	font-weight: 550;
}

.credits {
	font-size: clamp(0.8rem, 1.2vw, 1rem);
	font-weight: 300;
}

#articleImg {
	width: 100%;
	border-radius: 0.5rem;
	margin: 0 0 1rem 0;
}

#storyId {
	font-weight: 100;
	font-size: 1.125rem;
	padding: 0 0.3rem 0 0.3rem;
	line-height: 1.85rem;
	flex-grow: 1;
}

/* media queries yay */
@media (max-width: 768px) {
	main {
		padding: 0.5rem;
	}
	#storyContainer {
		width: 100%;
	}
	#title {
		font-size: 1.9rem;
	}
}
